{{ 'custom-block.css' | asset_url | stylesheet_tag }}

<section class="custom-block">
  <div class="container">
    <div class="custom-block__container">
      <div class="custom-block__titles">
        {% for block in section.blocks %}
          <div class="custom-block__title">
            {{ block.settings.text }}
          </div>
        {% endfor %}
        <div class="custom-block__bg">
          {% render 'custom-block-ring' %}
        </div>
      </div>
      <div class="custom-block__line">
        {% render 'custom-block-line' %}
      </div>
      <div class="custom-block__img">
        {{ section.settings.image | image_url: width: auto | image_tag }}
      </div>
      {% for block in section.blocks %}
        <a href="{{ block.settings.link_url }}" class="custom-block__button">{{ block.settings.link_text }}</a>
      {% endfor %}
    </div>
  </div>
</section>

{% style %}
  {{ section.settings.font | font_face }}
    .custom-block {
      font-family: {{ section.settings.font.family }}, sans-serif;
    }
{% endstyle %}

{% schema %}
{
  "name": "Custom block",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "Font",
      "default": "nunito_n8"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Title"
        }
      ]
    },
    {
      "type": "link",
      "name": "link",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "text",
          "id": "link_url",
          "label": "Link address"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom block",
      "blocks": [
        {
          "type": "title",
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}
